<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Boolzap</title>

        <!-- link bootstrap -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
        <!-- cdn bootstrap icon -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css">

        <!-- cdn fontawesome icon -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />

        <!-- link framework 12bool -->
        <!-- <link rel="stylesheet" href="css/frameworkquery.css">
        <link rel="stylesheet" href="css/framework.css"> -->
        
        <!-- link css -->
        <link rel="stylesheet" href="css/style.css">

        <!-- link VueJS -->
        <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    </head>

    <body class="bg">

        <!-- Inizio istanza  -->

        <div id="app">
            
            <div class="container my-vh-90">
                
                <div class="row h-100 mt-5">
                    <div class="col-12 p-0 h-100  bg-primary">
                        
                        <div class="row h-100 g-0">
                            <!------------------ Sezione colonna contatti ------------------>
                            <div class="col-4 border h-100 d-flex flex-column bg-danger">
                                
                                <!-- Header contatti -- SOFIA -->
                                <header>
                                    <div class="row g-0">
                                        <div class="col-12 d-flex justify-content-between align-items-center p-4 header-bg">
                                            <!-- User -->
                                            <div>
                                                <div class="container-rounded-img d-inline-block ">
                                                    <img class="w-100 img-rounded" src="img/avatar_io.jpg" alt="Sofia">
                                                </div>
                                                <h2 class="mt-2 fs-6 ms-2 d-inline-block align-middle ">Sofia</h2>
                                            </div>
                                            <!-- Icon group -->
                                            <div>
                                                <i class="fa-solid fa-circle-notch gray-color"></i>
                                                <i class="mx-3 fa-solid fa-message gray-color"></i>
                                                <i class="me-3 fa-solid fa-ellipsis-vertical gray-color"></i>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Ligthblue bell section -->
                                    <div class="col-12 d-flex align-items-center p-4 notifications-bg my-min-height-50">
                                        <!-- Bell icon -->
                                        <div class="container-rounded-img bg-white d-flex justify-content-center align-items-center">
                                            <i class="notifications-color fa-solid fa-bell-slash"></i>
                                        </div>
                                        <!-- Notifications text -->
                                        <div class="ms-3">
                                            <h2 class="fs-em mb-0">Ricevi notifiche di nuovi messaggi</h2>
                                            <a class="fs-em mb-0 gray-color text-decoration-underline" href="#nogo">Attiva notifiche Desktop</a>
                                        </div>
                                    </div>
                                    <!-- Searchbar -->
                                
                                    <div class="col-12 bg-white p-2">
                                        <button class="search-button px-2 ">
                                            <i class="fa-solid fa-magnifying-glass"></i>
                                        </button>
                                        <input class="search-input ps-3" placeholder="Cerca o inizia una nuova chat" type="text">
                                    </div>
                                
                                </header>

                                <!-- Sezione lista contatti -->
                                <main class="flex-grow-1 overflow-y-hidden">
                                
                                    
                                    <!-- Lista contatti -->
                                    <div class="row h-100 g-0">
                                        <div class="col-12 bg-white h-100">
                                            <ul class="h-100 overflow-auto">
                                                <!-- User 1 -->
                                                <li v-for="(contact, i) in contacts"
                                                    @click="clickActiveContact(i)" 
                                                    class="mb-2 py-2 ps-3 border-bottom" 
                                                    :class="i == activeContact ? 'active' : '' ">
                                                    <div class="d-flex justify-content-between">
                                                        <div class="d-flex align-items-center mb-2">
                                                            <div class="container-rounded-img d-inline-block ">
                                                                <img class="w-100 img-rounded" :src="contact.avatar" :alt="contact.name">
                                                            </div>
                                                            <div class="ms-3">
                                                                <h2 class="fs-5 mb-2">{{contact.name}}</h2>
                                                                <h2 class="fs-em gray-color">Ultimo messaggio inviato</h2>
                                                            </div>
                                                        </div>
                                                        <div>
                                                            <h2 class="fs-em me-2 gray-color">12:00</h2>
                                                        </div>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                
                                </main>
                            
                            </div>
                            
                            
                            
                            
                            
                            <!----------------- Sezione Chat ----------------->
                            <div class="col-8 overflow-hidden h-100">

                                <div class="row h-100 flex-column flex-nowrap g-0 ">
                                    
                                    <!-- Header della chat -->
                                    <div class="d-flex flex-shrink-0 justify-content-between align-items-center p-4 header-bg">
                                        <!-- User -->
                                        <div class="d-flex align-items-center">
                                            <div class="container-rounded-img d-inline-block ">
                                                <img class="w-100 img-rounded" :src="contacts[activeContact].avatar" :alt="contacts[activeContact].name">
                                            </div>
                                            <div class="ms-3">
                                                <h2 class="fs-5 mb-1">{{contacts[activeContact].name}}</h2>
                                                <h2 class="fs-em gray-color">Ultimo accesso oggi alle 12:00</h2>
                                            </div>
                                        </div>
                                        <!-- Icon group -->
                                        <div>
                                            <i class="fa-solid fa-magnifying-glass gray-color"></i>
                                            <i class="mx-3 fa-solid fa-paperclip gray-color"></i>
                                            <i class="me-3 fa-solid fa-ellipsis-vertical gray-color"></i>
                                        </div>
                                    </div>
                                    
                                    <!-- Chat -->
                                    <div class="flex-grow-1  overflow-y-auto bg-chat">
                                        <div
                                            v-for="(singleChat , j) in contacts[activeContact].messages"
                                            class="col-6 offset-5 my-3 message position-relative"
                                            :class="singleChat.status == 'sent' ? 'sent' : 'received' ">
                                            <h2 class="fs-6">{{singleChat.message}}</h2>
                                            <h4 class="fs-sm gray-color absolute-hour">12:00</h4>
                                        </div>
                                        <!-- <div class="col-6 offset-5  mb-2 message sent position-relative">
                                            <h2 class="fs-6">Ricordati di stendere i panni</h2>
                                            <h4 class="fs-sm gray-color absolute-hour">12:00</h4>
                                        </div>
                                        <div class="col-6 offset-1 mb-2 message received position-relative">
                                            <h2 class="fs-6">Tutto fatto!</h2>
                                            <h4 class="fs-sm gray-color absolute-hour">12:00</h4>
                                        </div>
                                        <div class="col-6 offset-5  mb-2 message sent position-relative">
                                            <h2 class="fs-6">Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque molestias officiis harum assumenda soluta aut, fugit exercitationem velit maiores, temporibus delectus vero! Aut laborum repudiandae labore, quibusdam illum ipsa, animi ipsam alias cupiditate possimus vel natus beatae! Voluptate, voluptatem possimus cumque incidunt necessitatibus in animi ex, quasi consequatur error eum, ducimus distinctio porro quisquam quod similique nam vero impedit non eaque beatae deleniti. Ab nemo sed aliquam, ratione expedita vero? Officia sapiente ex maiores neque nulla reprehenderit recusandae? Nemo soluta fuga ad! Laboriosam omnis officiis eius error asperiores quasi, quaerat neque modi rem tempora qui placeat labore vitae, nobis ullam.</h2>
                                            <h4 class="fs-sm gray-color absolute-hour">12:00</h4>
                                        </div> -->
                                    </div> 
                                    
                                    <!-- Footer della chat -->
                                    <div class="p-4 d-flex flex-shrink-0 justify-content-center align-items-center justify-content-between bg-footer">
                                        <i class="fs-5  gray-color fa-regular fa-face-smile"></i> 
                                        <input @keyup.enter="createNewMessage()" v-model="newMessage" class="fs-5 h-50px rounded search-input ps-3" placeholder="Scrivi un messaggio" type="text">
                                        <i class="fs-5 gray-color fa-solid fa-microphone"></i>
                                    </div>
                                </div>

                            </div>
                            
                        </div>

                    </div>
                </div>
            </div>

        </div>
        
        <!-- Link bootstrap JavaScript -->
        <!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script> -->
        
        <!-- Link JavaScript -->
        <script type="text/javascript" src="js/scripts.js"></script>
    </body>
</html>        
                            
                            


                                
                            
                            


                                
                            
                            


                                
                            
                            

    
                            
                            


                                
                            
                            


                                
                            
                            


                                
                            
                            

    
                            
                            


                                
                            
                            

